/* ---------Shakaib---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.joblg{
    background-color: #fff;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.joblg img{
    width: 40px;
}