/* ---------shakaib---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'rubik';
    src: url('../fonts/rubik-bold-webfont.woff2') format('woff2'),
         url('../fonts/rubik-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'rubik';
    src: url('../fonts/rubik-medium-webfont.woff2') format('woff2'),
         url('../fonts/rubik-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'rubik';
    src: url('../fonts/rubik-regular-webfont.woff2') format('woff2'),
         url('../fonts/rubik-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
:root {
    --pink:#FFFBF2;
    --grey:#E6E8DF;
}
.bg-pink {
    background: var(--pink);
}
.bg-grey {
    background: var(--grey);
}
.pointer {
    cursor: pointer;
}
.overflow-auto {
    overflow: auto;
}
body {
    font-family: 'rubik';
    font-weight: 400;
}
.fw-md {
    font-weight: 500;
}
.fw-bd {
    font-weight: 700;
}
.fw-reg {
    font-weight: 400;
}
.green{
    color: #11734B;
}
.lgreen{
    background-color: #CFE3DB;
}
.gry{
    background-color: #cdcdcd;
}
.greenbtm{
    border-bottom: solid 10px #11734B;
}
.lblue{
    background-color: #E1E1F1;
}
.blue{
    color: #0A53A8;
}
.pink{
    color: #921051;
}
.bg-white1{
    background-color: #FBFBFB;
}
.lpink{
    background-color: #F4DAE7;
}
.borderblue{
    border: solid 1px #0A53A8;
}
.bluebtm{
    border-bottom: solid 10px #0A53A8;

}
.orange{
    color: #FD760C;
}
.borderorng{
    border: solid 1px  #FD760C;
}
.borderr{
    border-right: solid 1px #cdcdcd;
}
.black{
    color: #000;
}
.blackbtm{
    border-bottom: solid 10px #000;
}
.sky{
    color: #3083E2;
}
.skybtm{
    border-bottom: solid 10px #3083E2;
}
textarea{
    resize: none;
}
.mycontainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.focus-none:focus {
    box-shadow: none;
    border: none;
    outline: none;
}
@media screen and (max-width:577px){
 
}