/* ---------zain---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-table{
    height: calc(100dvh - 220px);
    overflow: auto;
    width: 100%;
    /* min-width: 1000px; */
}

.dashboard-table th {
    position: sticky;
    top: 0;
    z-index: 100;
}

.dashboard-head-1{
    border-top-left-radius: 10px;
}

.dashboard-head-2{
    border-top-right-radius: 10px;
}

.btn-dash{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius: 50px;
    font-size: 12px;
}

.red{
    color: #FF6550;
}

.lred{
    background: #ebe3e2;
}

.text-no-wrap {
    white-space: nowrap;
}

.p-color{
    color: #7C8493;
}

.custom-font-weight{
    font-weight: lighter;
}

 .box {
    width: 380px;
    height: 50px;
    background: #F2F2F2;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.box i {
    font-size: 20px;
    color: #C3C6CC;
    cursor: pointer;
}

.box input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    padding-left: 10px;
}