/* ---------Mehak---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-btn {
    padding: 14px 26px;
}
.home-img {
    vertical-align: bottom;
    max-width: 280px
}
.hero-height {
    min-height: calc(100dvh - 83px)
}
.navbar .nav-link.active {
    color: #4640DE;
    position: relative;
}
.navbar .nav-link.active:before {
    position: absolute;
    content: '';
    bottom: 3px;
    width: 40%;
    height: 3px;
    background: #4640DE;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-w .nav-link {
    width: max-content;
}

.socialftr {
    max-width: 40px;
}